In [1]:
import pandas as pd
import sqlite3 as sql

In [ ]:
### LAR

lar = pd.DataFrame()

def cleanLAR(year, df):
    fp = f"C:\\Users\\WilliamRobinson\\OneDrive - HW Publishing LLC\\Documents\\Data\\HMDA\\LAR\\{year}.txt"

    # Create dictionary of columns where 'Exempt' is a null value
    exempts = ['combined_loan_to_value_ratio', 'interest_rate', 'rate_spread', 
    'total_loan_costs', 'total_points_and_fees', 'origination_charges',
    'discount_points', 'lender_credits', 'loan_term',
    'prepayment_penalty_term', 'intro_rate_period', 'property_value',
    'total_units', 'multifamily_affordable_units', 'debt_to_income_ratio']
    exemptNulls = dict(zip(exempts, ['Exempt']*len(exempts)))

    return pd.concat(
        [df,
        pd.read_csv(fp, delimiter='|',  
                 na_values = exemptNulls,
                 dtype={
                    'state_code':'str', 
                    'applicant_age':'str', 
                    'co_applicant_age':'str'
                }
        )],
        ignore_index=True
    )

In [2]:
### Entities

lei = pd.DataFrame()

def cleanLEI(year, df):
    fp = f"C:\\Users\\WilliamRobinson\\OneDrive - HW Publishing LLC\\Documents\\Data\\HMDA\\Entities\\{year}.txt"
    
    temp = pd.read_csv(fp, delimiter='|')
    temp['name_state'] = [f'{x} ({y})' for x, y in zip(temp.respondent_name, temp.respondent_state)]
    
    return pd.concat(
        [df, temp],
        ignore_index=True
    )

In [ ]:
### Loan Limits

ll = pd.DataFrame()

def cleanLL(year, df):
    fp = f"C:\\Users\\WilliamRobinson\\OneDrive - HW Publishing LLC\\Documents\\Data\\HMDA\\LoanLimits\\{year}.xlsx"
    
    cols = ['state_code', 'county_code', 'county_name', 'state', 'cbsa', 'one_unit_limit',
        'two_unit_limit', 'three_unit_limit', 'four_unit_limit']

    temp = pd.read_excel(fp, skiprows=1, sheet_name='GSE Limits', names=cols)
    temp['year'] = year

    return pd.concat(
        [df, temp], 
        ignore_index=True
    )

In [ ]:
for year in list(range(2018, 2023)):
    lar = cleanLAR(year, lar)

In [ ]:
for year in list(range(2018, 2023)):
    lei = cleanLEI(year, lei)

In [ ]:
for year in list(range(2018, 2023)):
    ll = cleanLL(year, ll)

In [4]:
with sql.connect("C:\\Users\\WilliamRobinson\\OneDrive - HW Publishing LLC\\Documents\\Data\\HMDA\\HMDA.sqlite") as conn:
    lar.to_sql('LAR', conn, index=False)
    lei.to_sql('Entities', conn, index=False)
    ll.to_sql('LoanLimits', conn, index=False)

In [3]:
# # Read data
# data = "C:\\Users\\WilliamRobinson\\OneDrive - HW Publishing LLC\\Documents\\Data\\HMDA\\2022\\2022_lar.txt"
# df = pd.read_csv(data, delimiter='|',  
#                  na_values = exemptNulls,
#                  dtype={
#                     'state_code':'str', 
#                     'applicant_age':'str', 
#                     'co_applicant_age':'str'
#                 }
#         )

C:\Users\WilliamRobinson\AppData\Local\Temp\ipykernel_9928\2621555581.py:3: DtypeWarning: Columns (43,46,79,80) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data, delimiter='|',

In [6]:
# Read data
# data = "C:\\Users\\WilliamRobinson\\OneDrive - HW Publishing LLC\\Documents\\Data\\HMDA\\2022\\2022_ts.txt"
# df = pd.read_csv(data,
#                  delimiter='|')

In [11]:
# with sql.connect("C:\\Users\\WilliamRobinson\\OneDrive - HW Publishing LLC\\Documents\\Data\\HMDA\\HMDA.sqlite") as conn:
#     df.to_sql('Entities', conn, index=False)

<a href="https://www.fhfa.gov/DataTools/Downloads/Pages/Conforming-Loan-Limit.aspx">Conforming loan limits</a> by year

In [17]:
# loanLimits = pd.DataFrame()

# cols = ['state_code', 'county_code', 'county_name', 'state', 'cbsa', 'one_unit_limit',
#         'two_unit_limit', 'three_unit_limit', 'four_unit_limit']

# for year in list(range(2018, 2023)):
#     fp = f"C:\\Users\\WilliamRobinson\\OneDrive - HW Publishing LLC\\Documents\\Data\\HMDA\\LoanLimits\\{year}.xlsx"
#     df = pd.read_excel(fp, skiprows=1, sheet_name='GSE Limits', names=cols)
#     df['year'] = year
#     loanLimits = pd.concat([loanLimits, df], ignore_index=True)


# loanLimits

,state_code,county_code,county_name,state,cbsa,one_unit_limit,two_unit_limit,three_unit_limit,four_unit_limit,year
0,1,1,AUTAUGA,AL,33860.0,453100,580150,701250,871450,2018
1,1,3,BALDWIN,AL,19300.0,453100,580150,701250,871450,2018
2,1,5,BARBOUR,AL,21640.0,453100,580150,701250,871450,2018
3,1,7,BIBB,AL,13820.0,453100,580150,701250,871450,2018
4,1,9,BLOUNT,AL,13820.0,453100,580150,701250,871450,2018
...,...,...,...,...,...,...,...,...,...,...
16162,72,151,YABUCOA MUNICIPIO,PR,41980.0,647200,828700,1001650,1244850,2022
16163,72,153,YAUCO MUNICIPIO,PR,49500.0,647200,828700,1001650,1244850,2022
16164,78,10,ST. CROIX ISLAND,VI,NaN,970800,1243050,1502475,1867275,2022
16165,78,20,ST. JOHN ISLAND,VI,NaN,970800,1243050,1502475,1867275,2022
16166,78,30,ST. THOMAS ISLAND,VI,NaN,970800,1243050,1502475,1867275,2022