In [1]:
import pandas as pd
data = 'sfmOrigNonbiz22.csv'

In [2]:
df = pd.read_csv(data)
df.info()

C:\Users\WilliamRobinson\AppData\Local\Temp\ipykernel_4688\3436436810.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7701735 entries, 0 to 7701734
Data columns (total 30 columns):
 #   Column                        Dtype
---  ------                        -----
 0   Unnamed: 0                    int64
 1   activity_year                 int64
 2   lei                           object
 3   derived_msa_md                int64
 4   state_code                    object
 5   county_code                   float64
 6   census_tract                  float64
 7   conforming_loan_limit         object
 8   purchaser_type                object
 9   loan_type                     object
 10  loan_purpose                  object
 11  lien_status                   object
 12  reverse_mortgage              object
 13  loan_amount                   int64
 14  combined_loan_to_value_ratio  float64
 15  interest_rate                 float64
 16  rate_spread                   float64
 17  hoepa_status                  object
 18  total_loan_costs              float64
 19  total_points_and_fees         float64
 20  origination_charges           float64
 21  discount_points               float64
 22  lender_credits                float64
 23  loan_term                     float64
 24  intro_rate_period             float64
 25  property_value                float64
 26  construction_method           object
 27  occupancy_type                object
 28  total_units                   float64
 29  debt_to_income_ratio          object
dtypes: float64(14), int64(4), object(12)
memory usage: 1.7+ GB

In [3]:
df.conforming_loan_limit.value_counts()

conforming_loan_limit
C     7324486
NC     377088
U         161
Name: count, dtype: int64

In [4]:
nonconforming = df.copy().loc[df.conforming_loan_limit == 'NC', :]
nc_total = len(nonconforming)
total = len(df)
pct = float(nc_total) / float(total) * 100
nc_sum = nonconforming.loan_amount.sum()
_sum = df.loan_amount.sum()
pct_sum = nc_sum / _sum * 100
print(f'There were {nc_total:,.0f} nonconforming loans originated last year for noncommercial, single-family mortgages, which accounted for {pct:.2f}% of all such loans.') 
print(f'The nonconforming loans totaled ${nc_sum / 1000000000:.2f} billion, which was {pct_sum:.2f}% of noncommercial, single-family mortgages originated last year.')

There were 377,088 nonconforming loans originated last year for noncommercial, single-family mortgages, which accounted for 4.90% of all such loans.
The nonconforming loans totaled $450.46 billion, which was 19.39% of noncommercial, single-family mortgages originated last year.

In [5]:
names = pd.read_csv('lei_Names.csv')

In [6]:
nonconforming = nonconforming.merge(names, on='lei').drop(
    columns=['Unnamed: 0_x', 'Unnamed: 0_y']).rename(
    columns={'respondent_name':'lender', 'respondent_state':'lender_state'})

In [7]:
print(f'There were {len(nonconforming.lei.unique()):,.0f} originators of nonconforming loans.')
print(f'The 10 largest lenders by loan volume are:')
nonconforming[['lender', 'loan_amount']].groupby('lender').count().sort_values(by='loan_amount', ascending=False).head(10)

There were 2,325 originators of nonconforming loans.
The 10 largest lenders by loan volume are:

                                               loan_amount
lender
WELLS FARGO BANK NA (WINSTON-SALEM, NC)              21318
Bank of America NA (Plano, TX)                       18168
US BANK, N.A. (CINCINNATI, OH)                       15546
JPMorgan Chase Bank, NA (Columbus, OH)               14194
FIRST REPUBLIC BANK (SAN FRANCISCO, CA)              12489
PNC BANK N.A. (Pittsburgh, PA)                        9951
United Wholesale Mortgage (Pontiac, MI)               9309
Citibank, NA (New York, NY)                           7902
Morgan Stanley Private Bank NA (Purchase, NY)         6631
CBNA Year to Date (Providence, RI)                    6056

In [8]:
print(f'The 10 largest lenders by total amounts loaned are:')
nonconforming[['lender', 'loan_amount']].groupby('lender').sum().sort_values(by='loan_amount', ascending=False).head(10)

The 10 largest lenders by total amounts loaned are:

                                               loan_amount
lender
WELLS FARGO BANK NA (WINSTON-SALEM, NC)        30725680000
FIRST REPUBLIC BANK (SAN FRANCISCO, CA)        25456595000
Bank of America NA (Plano, TX)                 25258080000
JPMorgan Chase Bank, NA (Columbus, OH)         22818750000
US BANK, N.A. (CINCINNATI, OH)                 18123530000
Citibank, NA (New York, NY)                    15665180000
Morgan Stanley Private Bank NA (Purchase, NY)  11178755000
PNC BANK N.A. (Pittsburgh, PA)                 10772365000
United Wholesale Mortgage (Pontiac, MI)         9445705000
MUFG Union Bank, NA (San Diego, CA)             6378225000

In [9]:
print(f'The 10 largest lenders by total amounts loaned in Texas are:')
nonconforming.loc[nonconforming.state_code == 'TX'][['lender', 'loan_amount']].groupby('lender').sum().sort_values(by='loan_amount', ascending=False).head(10)

The 10 largest lenders by total amounts loaned in Texas are:

                                                loan_amount
lender
JPMorgan Chase Bank, NA (Columbus, OH)           1880810000
FIRST UNITED BANK AND TRUST CO (DURANT, OK)      1854755000
PROSPERITY BANK (VICTORIA, TX)                   1259995000
Bank of America NA (Plano, TX)                   1117860000
WELLS FARGO BANK NA (WINSTON-SALEM, NC)          1001490000
US BANK, N.A. (CINCINNATI, OH)                    713295000
ZIONS BANCORPORATION, N.A. (THE WOODLANDS, TX)    706845000
Amplify Credit Union (Austin, TX)                 656420000
Cadence Bank (Tupelo, MS)                         621180000
Citibank, NA (New York, NY)                       557435000