In [1]:
import pandas as pd

In [2]:
transmitters = pd.read_csv("C:\\Users\\WilliamRobinson\\OneDrive - HW Publishing LLC\\Documents\\Data\\HMDA\\2022\\2022_ts.txt", 
                           delimiter='|')

In [3]:
transmitters.head()

,activity_year,calendar_quarter,lei,tax_id,agency_code,respondent_name,respondent_state,respondent_city,respondent_zip_code,lar_count
0,2022,4,549300BI43WZOK3XF350,43-1894848,3,Bank of Franklin County,MO,Washington,63090,264
1,2022,4,549300HH2N9Q3HH7XL57,30-0999121,7,"CCM FINANCE, LLC",MN,MINNEAPOLIS,55439,97
2,2022,4,549300EHQ0Y7SP41BR91,20-8803449,7,"Athas Capital Group, Inc.",CA,Calabasas,91301,6064
3,2022,4,549300HN58ONH5KNJJ12,45-4156623,7,"Thompson Kane & Company, Inc",WI,Madison,53717,1278
4,2022,4,549300M0I314MIP2FT97,66-0690568,7,ACTUAL MORTGAGE BANKERS,PR,BAYAMON,00960,355

In [4]:
print('legal entity identifiers:', len(transmitters.lei.unique()))
print('respondent names:', len(transmitters.respondent_name.unique()))
print('tax ids:', len(transmitters.tax_id.unique()))

legal entity identifiers: 4465
respondent names: 4332
tax ids: 4465

In [6]:
dups = transmitters[['lei', 'respondent_name']].groupby('respondent_name').count()
dups.loc[dups.lei > 1].sort_values(by='lei', ascending=False)

                             lei
respondent_name
FIRST BANK                     6
First National Bank            6
Citizens Bank                  6
Citizens State Bank            5
First State Bank               5
...                          ...
FINANCIAL PLUS CREDIT UNION    2
FARMERS STATE BANK             2
FARMERS BANK & TRUST           2
Exchange Bank                  2
Washington State Bank          2

[89 rows x 1 columns]

In [7]:
transmitters.loc[transmitters.respondent_name == 'FIRST BANK']

,activity_year,calendar_quarter,lei,tax_id,agency_code,respondent_name,respondent_state,respondent_city,respondent_zip_code,lar_count
1501,2022,4,549300YS4CB1171BRJ08,20-8164471,3,FIRST BANK,NJ,HAMILTON,08690,98
1923,2022,4,25490047DXSX2HF6QY47,54-1713356,2,FIRST BANK,VA,STRASBURG,22657,371
2234,2022,4,549300LO3MP4RAI32X70,75-0164917,3,FIRST BANK,TX,BURKBURNETT,76354,1774
2685,2022,4,549300P6FMUCIYH31R36,64-0226300,3,FIRST BANK,MS,MCCOMB,39648,177
3713,2022,4,549300DT7WZ1SOTNFJ62,43-0231490,2,FIRST BANK,MO,SAINT LOUIS,63141,4186
3983,2022,4,5493006BN3B3B1H3B988,59-0242465,3,FIRST BANK,FL,CLEWISTON,33440,177