## Import data

In [1]:
import pandas as pd
transmitters = pd.read_csv("C:\\Users\\WilliamRobinson\\OneDrive - HW Publishing LLC\\Documents\\Data\\HMDA\\2022\\2022_ts.txt", 
                           delimiter='|')
transmitters.head()

,activity_year,calendar_quarter,lei,tax_id,agency_code,respondent_name,respondent_state,respondent_city,respondent_zip_code,lar_count
0,2022,4,549300BI43WZOK3XF350,43-1894848,3,Bank of Franklin County,MO,Washington,63090,264
1,2022,4,549300HH2N9Q3HH7XL57,30-0999121,7,"CCM FINANCE, LLC",MN,MINNEAPOLIS,55439,97
2,2022,4,549300EHQ0Y7SP41BR91,20-8803449,7,"Athas Capital Group, Inc.",CA,Calabasas,91301,6064
3,2022,4,549300HN58ONH5KNJJ12,45-4156623,7,"Thompson Kane & Company, Inc",WI,Madison,53717,1278
4,2022,4,549300M0I314MIP2FT97,66-0690568,7,ACTUAL MORTGAGE BANKERS,PR,BAYAMON,00960,355

In [2]:
print('legal entity identifiers:', len(transmitters.lei.unique()))
print('respondent names:', len(transmitters.respondent_name.unique()))
print('tax ids:', len(transmitters.tax_id.unique()))

legal entity identifiers: 4465
respondent names: 4332
tax ids: 4465

In [3]:
dups = transmitters[['lei', 'respondent_name']].groupby('respondent_name').count()
dupTrans = transmitters.loc[transmitters.respondent_name.isin(dups.index), ['respondent_name', 'respondent_city', 'respondent_state']]
transmitters.loc[transmitters.respondent_name.isin(dups.index), 'respondent_name'] = [f'{x} ({y}, {z})' 
    for x, y, z in zip(dupTrans.respondent_name, dupTrans.respondent_city, dupTrans.respondent_state)]

In [4]:
len(transmitters.lei.unique()), len(transmitters.respondent_name.unique())

(4465, 4459)

In [5]:
newNames = transmitters[['lei', 'respondent_name']].groupby('respondent_name').count()
newNames.loc[newNames.lei > 1]

                                                    lei
respondent_name
Anchor Loans LP (Thousand Oaks, CA)                   2
FIRST NATIONAL BANK OF PA (HERMITAGE, PA)             2
Farm Credit Services of Western Arkansas (Russe...    2
GreenStone Farm Credit Services (East Lansing, MI)    2
RCN Capital, LLC (South Windsor, CT)                  2
Stock Yards Bank and Trust (Louisville, KY)           2

In [6]:
transmitters.loc[transmitters.respondent_name == 'FIRST NATIONAL BANK OF PA (HERMITAGE, PA)']

,activity_year,calendar_quarter,lei,tax_id,agency_code,respondent_name,respondent_state,respondent_city,respondent_zip_code,lar_count
2511,2022,4,N8T7HW55LK5D2ORCKP39,25-1255405,9,"FIRST NATIONAL BANK OF PA (HERMITAGE, PA)",PA,HERMITAGE,16148,24881
2790,2022,4,549300LN7FRX3PP2LO74,56-2094762,3,"FIRST NATIONAL BANK OF PA (HERMITAGE, PA)",PA,HERMITAGE,16148,132

In [7]:
transmitters.loc[transmitters.respondent_name == 'Anchor Loans LP (Thousand Oaks, CA)']

,activity_year,calendar_quarter,lei,tax_id,agency_code,respondent_name,respondent_state,respondent_city,respondent_zip_code,lar_count
1494,2022,4,549300623VT8YKPHWM78,46-3223427,9,"Anchor Loans LP (Thousand Oaks, CA)",CA,Thousand Oaks,91362,4069
1496,2022,4,549300KNDTHPORJI2O79,47-4563523,9,"Anchor Loans LP (Thousand Oaks, CA)",CA,Thousand Oaks,91362,788

## Why there are duplicates and why I'm not using just LEI:

<a href="https://www.financialresearch.gov/data/legal-entity-identifier-faqs/">Why institutions have multiple LEIs</a>

In [8]:
transmitters[['lei', 'respondent_name', 'respondent_state']].to_csv('lei_Names.csv')